/* * {
    box-sizing: border-box;
  } */
  
  /* Style the list itemsPrevent double borders */
  a {
    border: 1px solid #ddd;
    margin-top: -1px; 
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
  }
  
  /* Add a light grey background color on hover */
  a:hover {
    background-color: #eee;
  }
  
  /* Style the close button (span) */
  .close {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .close:hover {background: #bbb;}